*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    margin: 20px;
    width: 100%;
    height: 100vh;
}

.header{
    width: 100%;
    height: 80px;
    background-color: rgb(69, 69, 126);
    border-bottom: 1px solid rgb(212, 209, 209);
    color: seashell;
    text-align: center;
    margin-top: 20px;
    padding-top: 20px;
    border-radius: 10px;
}

table{
    width: 100%;
    border: 2px solid rgb(69, 69, 126);
    border-collapse: collapse;
    border-radius: 10px;
}

th,td{
    padding: 15px;
}

th{
    height: 70px;
    border-bottom: 3px rgba(212, 209, 209,0.5);
}


td{
    border-bottom: 1px rgba(212, 209, 209,1.5);
    text-align: left;
    padding: 5px;
}

.content:hover{
    background-color: rgba(212, 209, 209,0.5);
}