*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    margin: 20px;
    width: 100%;
    height: 100vh;
}

table{
    width: 100%;
    border: 2px solid rgb(69, 69, 126);
    border-collapse: collapse;
    border-radius: 10px 10px 10px 10px;
}

th,td{
    padding: 15px;
}

tr{
    height: 30px;
}

th{
    height: 30px;
    border-bottom: 3px rgba(212, 209, 209,0.7);
    font-size: 30px;
}


td{
    border-bottom: 1px rgba(212, 209, 209,1.5);
    text-align: left;
    padding: 5px;
}

.content:hover{
    background-color: rgba(212, 209, 209,0.5);
}

tr{
    border: 1px solid;
    padding: 1px;
    text-align: justify;
    opacity: 0.8;
}

td li{
    color: gray;
    list-style: none;
    display: inline-flex;
}

li:hover{
    color: blue;
}
td li #edit{
    visibility: hidden;
}

td li #edit:hover{
    visibility: visible;
}

a{
    text-decoration: none;
    color: grey;
}